.beer-list__header {
  color: slateblue;
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Pacifico", cursive;
}

#beer-list__item-limit {
  display: block;
  margin: auto;
  width: 20%;
}

#beer-list__pagination {
  text-align: center;
}

#beer-list__pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#beer-list__pagination ul li {
  display: inline-block;
  padding: 8px 0px;
}

.pagination__link {
  color: slateblue;
  cursor: pointer;
}
.pagination__link:hover {
  color: slategray;
}

#beer-list__results {
  text-align: center;
}

.beer-list {
  margin: auto;
  width: 100%;
}

.beer {
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.beer-name {
  font-weight: sans-serif;
  font-size: 1.5rem;
  margin: 3px;
  text-align: center;
}

.beer-description {
  font-weight: sans-serif;
}
